/*------------------------------------*\
	СБРОС
\*------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}





/*------------------------------------*\
	ОСНОВНЫЕ ПРАВИЛА
\*------------------------------------*/

body {
	font-family:Arial,Verdana,sans-serif;
	background: #EAEAEA;
	color: #000;
	line-height: 1;
}

html, body{height: 100%;}

.wrapper{
	background: #F2F4F3;
	width: 900px;
	min-height: 100%;
	margin: auto;
}

.wrapperHead{
	width: 900px;
	margin: auto;
}

.header{
	height: 150px;
	background:#0E91C9;
}

.logodep{
	float: left;
    width: 150px;
    height: 70px;
    background: url(../images/departament.png) no-repeat;
    margin-top: 45px;
    margin-left: 0px;
    z-index: 1;
}

.logo{
    float: left;
    width: 300px;
    height: 150px;
    background: url(../images/logo.png) no-repeat;
    margin-left: 100px;
}

.info{
    float: right;
    text-align: right;
    width: 300px;
    height: 50px;
    margin-top: 45px;
    margin-right: 0px;
    font-family: 'Days';
    color: #fff;
    font-size: 20px;
    text-transform: none;
    text-decoration: none;
}

.menu{
	height: 50px;
}

.line{
	background: #B34A8F;
	width: 100%;
	height: 25px;
}

.inwiget{
	float:left;
	background: #CDCDCD;
	width: 265px;
	height: 335px;
	margin-top: 30px;
	margin-left: 30px;
}

.news{
	float:left;
	width: 265px;
	height: 335px;
	background:#CF3B87;
	margin-top: 30px;
	margin-left: 30px;
}

.poster{
	float:left;
	width: 280px;
	height: 335px;
	/*background:#CF3B87;*/
	margin-top: 30px;
	margin-left: 30px;
}

.ss{
	float:left;
	width: 265px;
	height: 335px;
	background:#79C0DC;
	margin-top: 30px;
	margin-left: 30px;
}

.TimePadeWidget{
	float:left;
	width: 265px;
	height: 335px;
	background:#1D6337;
	margin-top: 30px;
	margin-left: 30px;
}

.timetable{
	float:left;
	width: 265px;
	height: 335px;
	background:#9F386F;
	margin-top: 30px;
	margin-left: 30px;
}

.footer{
	margin-top: 30px;
	float:left;
	width: 100%;
	height: 150px;
	background:#0E91C9;
}


/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/
#nav{
	width:100%;
	list-style:none;
	margin: auto;
	/*font-weight:bold;*/
}
#nav li{	
	float:left;
	margin-top:10px;
	position:relative;
	display:block;
}
#nav li a{
	vertical-align: middle;
	text-align: justify; 
	display:table-cell; 
	display:block;
	font-size:1.5em;
	padding:5px;
	color:#000;
	text-decoration:none;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#nav li a:hover{
	color:#000;
	background:#EAEAEA;
	background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
	text-decoration:underline;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav ul{
	z-index: 2;
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устнавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
#nav ul li{
	padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	float:none;
}
#nav ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
}
#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
}
#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
	background:#EAEAEA;
	background:rgba(242,244,243,0.75); /* Будет полупрозрачным */
	text-decoration:underline;
}
#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background:#EAEAEA;
	background:rgba(242,244,243,0.75); /* Будет полупрозрачным */
	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}

/*------------------------------------*\
	scroll
\*------------------------------------*/
#carousel {
	margin: 0 0 30px 30px;
	width: 220px;
	height: 320px;
	position:relative;
}
#carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
#carousel li {
	font-size: 40px;
	color: #999;
	text-align: center;
	width: 220px;
	height: 300px;
	padding: 0;
	margin: 0px;
	display: block;
	float: left;
	/*background: transparent url('images/carousel_polaroid.png') no-repeat 0 0;*/
	position:relative;
}

#carousel li img {
	width: 225px;
	height: 300px;
	margin-top:0px;
}

#carousel li a {
	width: 220px;
	height: 300px;
	position:absolute;
	display:block;
	top:14px;
	left:16px;
	/*background: transparent url('images/carousel_shine.png') no-repeat 0 0;*/
	text-indent:-999em;
}			

.clearfix {
	float: none;
	clear: both;
}

#carousel .prev, #carousel .next {
	margin-left: 10px;
	width:20px;
	height:26px;			
	display:block;				
	text-indent:-999em;background: #B34A8F;
	/*background: transparent url('images/carousel_control.png') no-repeat 0 0;*/
	position:absolute;
	top:150px;		
}
#carousel .prev {
	background-position:0 0;
	left:-40px;
}
	#carousel .prev:hover {
		left:-40px;
	}			
#carousel .next {
	background-position: -18px 0;
	right:-30px;
}
	#carousel .next:hover {
		right:-30px;
	}				
#carousel .pager {
	margin-top: 10px;
	text-align: center;
}
#carousel .pager a {
	margin: 0 5px 0 0;
	text-decoration: none;
	display:inline-block;
	width:16px;
	height:16px;
	background: #B34A8F;
	/*background: transparent url('images/carousel_control.png') no-repeat -2px -32px;*/
	text-indent:-999em;
}
#carousel .pager a.selected {
	text-decoration: underline;
	background: #B34A8F;
	/*background: transparent url('images/carousel_control.png') no-repeat -12px -32px;				*/
}